@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$text-normal: 400;
$text-medium: 600;
$text-bold: 700;

body {
    background-color: #ececec;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
